{% extends "base.html" %}

{% block title %}Iniciar Sesión - Mundial 2026{% endblock %}

{% block content %}
<article>
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_username">Usuario</label>
        <input type="text" name="username" id="id_username" required autofocus>

        <label for="id_password">Contraseña</label>
        <input type="password" name="password" id="id_password" required>

        <button type="submit">Iniciar Sesión</button>
    </form>
    <p>¿No tienes cuenta? <a href="{% url 'signup' %}">Regístrate</a></p>
</article>
{% endblock %}